#header{
    background-image: url(/assets/imgs/home-bg.jpg);
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    width: 100%;
    height: 50vh;
    
    .header{
        
        max-width: 1200;
        height: 30vh;
        
        // backdrop-filter: brightness(20%);
        // backdrop-filter: opacity(20%);
        display: flex;
        justify-content: start;
        align-items: center;
        flex-direction: column;
        
            .navwrapper{
                background-color: rgba(0, 0, 0, 0.4);
                width: 100%;
                height: 50vh;
                position: absolute;
            }
            .navbar{
                width: 1200px;
                margin: auto;
                display: flex;
                justify-content: space-between;
                align-items: start;
                color: white;
                z-index: 2;
                font-size: 24px;
            }
                .navbar a{
                    text-decoration: none;
                    color: white;
                    font-size: 20px;
                    font-weight: 500;
                    padding: 10px;
                        &:hover{
                        color: #0085A1;
                        }
                }

                .hero{
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    z-index: 2;
                }

                .hero h1{
                    font-size: 72px;
                    color: white;
                    font-weight: bold;
                    cursor: pointer;
                    transition: .3s linear;

                }

                .hero h3{
                    font-size: 24px;
                    color: white;
                    cursor: pointer;
                    transition: .3s linear;
                        
                }

            
                    

        }
}
